body {
font-family: 'Roboto Slab', serif;
}

.feed {
	height: 250px;
	width: 500px;
	overflow: auto;
	margin: 0 auto 15px auto;
	border: 1px solid black;
}

.post {
	width: 300px;
	margin: 0 auto 15px auto;
}

#feedpage {
	margin-top: 13%;
}

h2 {
	text-align: center;
}

